.articles__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.articles__item {
  display: flex;
}

.item-article__image {
  margin-right: 2rem;
}

.item-article__text {
  max-width: 300px;
}