html,
body {
	height: 100%;
}

.main {
	min-height: 100%;
}

/* Wrapper */

.wrapper {
	padding: 20px;
}

/* Header */

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 2rem;
}

.header__list {
	display: flex;
	gap: 20px;
}

/* Hero */

.hero {
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* Info */

.info {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
	display: grid;
	grid-template-columns: 3;
	grid-template-rows: 2;
	margin-bottom: 50px;
}

.projects {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
  border-right: 1px solid #000;
}

.work-experience {
	grid-column: 2 / 3;
	grid-row: 1 / 1;
  border-bottom: 1px solid #000;
}

.open-source {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.education {
	grid-column: 3 / 4;
	grid-row: 1 / 3;
  border-left: 1px solid #000;
}

/* Reviews */

.reviews__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews__item {
  flex: 0 1 30%;
  border: 1px solid #000;
}

/* Footer */

.footer {
  margin: 100px 0 50px;
  text-align: center;
}